<div class="instruments">
  <h3>Sort by Family:</h3>
  <div class="families">
    <a class="filter" routerLink="/instruments"><button class="filter-btn">All</button></a>
    <a class="filter" routerLink="/instruments" [queryParams]="{ family : 'Woodwind' }"><button class="filter-btn">Woodwind</button></a>
    <a class="filter" routerLink="/instruments" [queryParams]="{ family : 'Brass' }"><button class="filter-btn">Brass</button></a>
    <a class="filter" routerLink="/instruments" [queryParams]="{ family : 'String' }"><button class="filter-btn">String</button></a>
    <a class="filter" routerLink="/instruments" [queryParams]="{ family : 'Percussion' }"><button class="filter-btn">Percussion</button></a>
  </div>
  <div class="families">
      <button class="filter-submit" (click)="renderInstruments()">Filter</button>
  </div>
  <ng-container *ngFor="let instrument of instruments">
    <div class="inst">
      <img src="{{ instrument.image }}">
      <h2>{{ instrument.name }}</h2>
      <a routerLink="/instrument/{{ instrument.name }}"><button>Details</button></a>
    </div>
  </ng-container>
</div>