.instruments, .families {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.families {
    padding-bottom: 25px;
    justify-content: center;
}

.filter {
    margin: 0 1em;
    text-decoration: none;
}

.filter-btn {
    font-size: 1.2em;
}

.inst {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 25%;
    box-shadow: 5px 5px lightgray;
}

h2 {
    margin-bottom: 5px;
}

img {
    padding-top: 15px;
    width: 200px;
    height: 200px;
}