div {
    width: 100%;
}

.title {
    margin: 0;
    font-size: 4em;
    font-family: sans-serif;
    color: white;
}

.banner {
    background-color: rgb(9, 9, 90);
    height: 150px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}